POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-rf4tkfoe3%3234fj2o3434f!34tlfe-e294tf%
ALLOWED_HOSTS=123.456.789.10,127.0.0.1,localhost,fakenamedomain.hopto.org